body {
  font-family: 'Lato', sans-serif;
  background-color: #EAEDF0;
  color: #333;
  padding: 30px;
}

a {
  text-decoration: none;
}
a:link {
  color: #77BBC1;
}
a:visited {
  color: #77BBC1;
}

#header {
  background-color: #77BBC1;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  padding-top: 6px;
  z-index: 100;
}
#headerContents {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 32px;
  color: #FFF;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  float: left;
}
h1 a {
  text-decoration: none;
  color: #FFF;
}
h1 a:link {
  text-decoration: none;
  color: #FFF;
}
h1 a:visited {
  text-decoration: none;
  color: #FFF;
}

.menu {
  float: left;
  display: inline-block;
  text-align: left;
  max-width: 250px;
  cursor: pointer;
  padding-top: 16px;
  margin-left: 30px;
}
.menuItem {
  background-color: #FFF;
  color: #333;
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
}
.menuItem:first-child {
  border-top: 1px solid #E9E9E9;
}
.menuItem:last-child {
  border-bottom: 1px solid #E9E9E9;
}
.menuItem:hover {
  background-color: #DDD;
}
a.menuItem {
  color: #333;
  text-decoration: none;
}
.nav {
  color: #FFF;
  background-color: #77BBC1;
  font-size: 16px;
}
.nav a {
  color: #FFF;
  text-decoration: none;
}
.prevNextWrapper {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 30px;
}
.next {
  float: left;
}
.previous {
  float: right;
}

.post {
  width: 640px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #E9E9E9;
}
.date {
  text-align: left;
  color: #666;
  font-weight: 100;
  text-transform:uppercase;
}
.author {
  color: #77BBC1;
  text-align: right;
}

.thumbnailHolder {
  float: right;
  padding: 10px;
  width: 300px;
  text-align: center;
}
.thumbnailHolder:nth-child(2n) {
  float: left;
}
.caption {
  color: #666
  text-align: left;
}
.thumbnail {
  max-width: 300px;
  max-height: 220px;
  cursor: pointer;
}

.thumbnailSample {
  width: 300px;
  height: 220px;
  cursor: pointer;
  background-color: #CCC;
}

.featuredImage {
  max-width: 450px;
  max-height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  float: right;
}

#footer {
  width: 100%;
  text-align: center;
  font-weight: 100;
  margin-top: 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 80;
}
.overlayBackground {
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #FFF;
  z-index: -10;
  position: fixed;
  top: 0px;
  left: 0px;
}
.overlayImage {
  max-width: 800px;
  max-height: 600px;
  margin-top: 50px;
}
.overlayContentsHolder {
  display: inline-block;
  max-width: 800px;
}
.overlayCaption {
  color: #000;
  text-align: left;
  opacity: 1;
  padding: 5px;
}

.loadingBackground {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  abackground-color: #CCC;
}

.loadingWheel {
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  margin-left: -38px;
  margin-top: -38px;
  width: 60px;
  height: 60px;
  border: 8px solid #EAEDF0;
  border-radius: 38px;

  -webkit-animation-name:spin;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration:1.2s;
  -webkit-animation-timing-function:cubic-bezier(.52, .18, .48, .86);
}

.loadingWheel:after {
  position: absolute;
  content: "";
  top: -8px;
  left: -8px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 38px;
  border: 8px solid #77BBC1;
  border-bottom: none;
  border-right: none;
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(45deg);}
  to {-webkit-transform: rotate(404deg);}
}

.loadingText {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 7px;
  font-size: 20px;  
}

textarea {
  width: 100%;
  height: 250px;
  margin: 7px 0px;
}

select {
  font-family: 'Lato', sans-serif;
  margin: 7px 0px;
}

input {
  font-family: 'Lato', sans-serif;
  margin: 7px 0px;
}

ainput[type="text"] {
  height: 16px;
  border: 2px;
  margin: 7px;
  padding: 1px;
}  
 
input[type="button"] {
  background: none;
  border: 0px;
  background-color: #EAEDF0;
  padding: 7px 25px;
  cursor: pointer;
}

input[type="submit"] {
  float: right;
  background: none;
  border: 0px;
  background-color: #77BBC1;
  color: #FFF;
  padding: 7px 25px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7EC6CC;
}

.file-selector {
  position:relative;
  top: 0px;
  left: 0px;
}

.file-up {
  position: absolute;
  top: 10px;
  left: 462px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #77BBC1;
  cursor: pointer;
}

.file-down {
  position: absolute;
  top: 10px;
  left: 477px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid #77BBC1;
  cursor: pointer;
}

.file-ex-wrapper { 
  position:absolute;
  top: 7px;
  left: 434px;
  height: 22px;
  width: 22px;
  cursor: pointer;
}  

.file-ex {
  position: absolute;
  top: 9px;
  left: 2px;
  height: 3px;
  width: 18px;
  background-color: #77BBC1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  
.file-ex:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  height: 3px;
  width: 18px;
  background-color: #77BBC1;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

